SampleChoice.asl.json
{
    "Comment": "Exemplo de choice.",
    "StartAt": "Inicio",
    "States": {
        "Inicio": {
            "Type": "Pass",
            "Next": "ChoiceState"
        },
        "ChoiceState": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.transactionChoice",
                    "StringEquals": "COMPRA",
                    "Next": "Compra"
                },
                {
                    "Variable": "$.transactionChoice",
                    "StringEquals": "RECLAMAÇÃO",
                    "Next": "Reclamação"
                }
            ],
            "Default": "DefaultState"
        },
        "Compra": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:323689363109:function:sampleStepFunctions-dev-compra",
            "Next": "NextState"
        },
        "Reclamação": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:323689363109:function:sampleStepFunctions-dev-reclamacao",
            "Next": "NextState"
        },
        "DefaultState": {
            "Type": "Fail",
            "Error": "DefaultStateError",
            "Cause": "No Matches!"
        },
        "NextState": {
            "Type": "Pass",
            "End": true
        }
    }
}